name: build

on:
  pull_request:
    types: [ opened, synchronize ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ 'ubuntu-22.04' ]
        python-version: [ '3.10', '3.12' ]
        poetry-version: [ '1.3' ]

    steps:
      - uses: actions/checkout@v1
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: poetry run pytest --junitxml=test-unit.xml --cov=dynamodb_data_source --cov-report=term-missing:skip-covered --cov-report xml:cov.xml -vv tests | tee pytest-coverage.txt
      # - name: Publish Test Report
      #   uses: mikepenz/action-junit-report@v3
      #   if: always() # always run even if the previous step fails
      #   with:
      #     report_paths: './test-unit.xml'
      # - name: Pytest coverage comment
      #   uses: MishaKav/pytest-coverage-comment@main
      #   if: always() # always run even if the previous step fails
      #   with:
      #     pytest-coverage-path: ./pytest-coverage.txt
      #     pytest-xml-coverage-path: ./cov.xml
      #     title: Unit tests code coverage
      #     badge-title: Coverage
      #     hide-badge: false
      #     hide-report: false
      #     create-new-comment: false
      #     hide-comment: false
      #     report-only-changed-files: false
      #     remove-link-from-badge: false
      #     junitxml-path: ./test-unit.xml
      #     junitxml-title: Unit tests summary
